/* スマホ用レイアウト */
@media screen and (max-width:599px) {

    .header {
        background-position: 20% 60%;
        padding: 15px 0px 400px 0px;
        width: 100%;
    }

    .portfolio-title{
        
        top: 150px;   
        left: 10px; 
    }

    .portfolioTitle-portfolio{
        font-size: 20px;
      }

    .portfolioTitle-name{
        font-size: 50px;
    }
    

    .skill-table{
        width: 100%;
    }

    

    
}